input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
}

input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.forms{
  border-radius: 2rem;
  background-color: #b3b3b3;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  border: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.buttonA {
  color: black;
  background-color: #33ffcc;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
  margin-top: 1rem;
}

.buttonA:hover {
  background-color:#008060;
  color: white;
  }
