body, html {
  height: 100%;
  margin: 0;
}

body{
  font-family: Lato;
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
}

.nav-item{
  padding-left: 20px;
  font-size: 120%;
}

.navbar {
    min-height: 60px;
    margin: 50px;
    margin-top: 0;
    padding-top: 30px;
    background-color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #33adff;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
}

.bg {
  background-image:url("https://teamsdemo.office.com/img/closing-image.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15%;
}

.Team h1{
  font-size: 64px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.rounded-circle{
  width: 60%;
}

.pictures h2{
  font-weight: bold;
}

.page-footer{
  background-color: #ff4d94;
  text-align: center;
  padding-top: 25px;
  color: white;
}
